# Core
numpy
scikit-learn
torch
transformers
sentence-transformers
keybert
langdetect
feedparser
tqdm
python-dotenv
praw
faiss-cpu  # or faiss-gpu if running with GPU
datasets  # Hugging Face Datasets for universal data loading

