# For summarization
transformers
torch

# For keyword extraction
keybert

# For language detection
langdetect
praw
python-dotenv
tqdm
feedparser
sentence-transformers
scikit-learn

# Core
numpy
faiss-cpu  # or faiss-gpu if running with GPU

# For summarization
transformers
torch

